/* Canyon fonts... */
@import url(fonts/CanyonRFont/CanyonRFont.css);






/* typography général */
body {
  background-color: black;
  font-family: "CanyonR";
  color: white;
}







/*effets*/
:hover.s3 {
  animation: gradient 2s ease;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.top-img {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.top-img:hover {
  opacity: 1;
}

body section:nth-of-type(2) {
  width: 100%;
  height: 0rem;
  background: url(images/context.jpg) no-repeat center center fixed;
  background-size: cover;
}
@media (min-width: 50rem) {
  .row {
    display: flex;
    gap: 2rem;
  }
  .row > * {
    flex: 1;
  }
}

.tc-container {
  width: 100px;
  position: relative;
  height: fit-content;
  width: fit-content;
}






/*mise en page général*/
.s3 {
    gap: 5rem;
  background: linear-gradient(-45deg, white, grey, white);
  background-size: 400% 400%;
}

section {
  display: flex;
  min-height: 50vh;
  padding: 4rem;
}

section .container.row {
  margin: 100px;
  max-width: 80rem;
}






/* Mise en page du header*/
header {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

header .container {
  max-width: 40rem;
  color: white;
}



header .container img {
  filter: invert(100%);
}

header {
  position: relative;
}

#bkgDecoVid {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}












/* footer */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 2rem;
  background: rgb(216, 209, 209);
}






/* utiles */
img {
  width: 100%;
  height: 100%;
}

.bandetypo {
  font-weight: 400;
  font-size: 5vw;
}

.bandevid {
  font-weight: 300;
  font-size: 3vw;
}

.black {
  color: black;
}


video {
  max-width: 100%;
  display: block;
}

* {
  box-sizing: border-box;
}

.padbot {
  padding-bottom: 3rem;
}

.legend{
  font-size: 0.6rem ;
}

.centrer {
  gap: 50px;
  padding-top: 3rem;
  padding-left: 10rem;
  padding-right: 10rem;
}


html,
body {
  margin: 0;
}